body {
    width: 100%;
    max-width: 40em;
}

table {
    border: thin solid black;
    padding: 1ex;
    margin-bottom: 2ex;
    width: 100%;
}

tr,td,th {
    text-align: left;
}

#message {
    padding: 1ex;
    background: #f2ed46;
    border: thin solid black;
    margin-bottom: 1ex;
}

.target {
    background-color: #ff0000;
}

.hidden {
    display: none;
}

td {
    padding: 5px;
}

.action {
    width: 5ex;
}
