table {
    border: thin solid black;
    padding: 1ex;
    margin-bottom: 2ex;
}

#message {
    display: none;
    padding: 1ex;
    background: #f2ed46;
    border: thin solid black;
    margin-bottom: 1ex;
}
